img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
input {
    width: 582px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;    
    }
button {
    height: 36px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 0 auto;
}
button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #5F6368;
}
.search_bar {
    margin: 25px auto;
    height: 45px;
    width: 570px;
    border: .5px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
}
.magnifying_glass {
    width: 25px;
    height: 25px;
    margin: auto 10px;
}